* { margin: 0; /* Поставити всі границі на 0 */ font-family: sans-serif; /* Стандартний системний шрифт без засічок */ }

/* Фон мозаїка сланцю (з майнкрафту) */
body { background-image: url('menu_background.png'); background-repeat: repeat; }

/* Стиль контейнеру посилань */
nav {
  display: flex; flex-wrap: wrap; /* Відображати все в 1-у рядку, якщо не влазить — переносити на наступний */
  justify-content: center; /* Центрувати вміст контейнеру */
  font-size: 14px; /* Оптимальний розмір шрифту для інтерфейсів на 15.6" 1920x1080 екрані з дистанції перегляду 50 см при 100%-у масштабу */
  margin-bottom: 5px; margin-top: 5px; margin-left: 10px; /* Відступи */
  gap: 10px; /* Відступи між посиланнями */
  color: white;
}

nav a { all: unset; cursor: pointer; } /* Прибрати стиль посилання в nav (використовувати стандартний стиль тексту) і використовувати курсор руку */

nav b { cursor: default; } /* Використовувати стандартний курсор для жирного тексту в nav (оскільки він частина інтерфейсу) */

/* Стиль контейнеру статті */
article {
  min-height: calc(100vh - 36px); /* Продовжити контейнера до низу екрану */
  padding: 5px 10px; /* Рамка контейнеру */
  margin-inline: auto; /* Центрувати вміст контейнеру */
  font-size: 20px; /* Оптимальний розмір шрифту для читання на 15.6" 1920x1080 екрані з дистанції перегляду 50 см при 100%-у масштабу */
  background-color: #f1f1f1; /* Світло сірий колір фону контейнеру (взятий з XnView MP) */
  line-height: 1.6;
}

section {
  font-size: 14px; /* Оптимальний розмір шрифту для інтерфейсів на 15.6" 1920x1080 екрані з дистанції перегляду 50 см при 100%-у масштабу */
  display: flex; flex-wrap: wrap; /* Відображати все в 1-у рядку, якщо не влазить — переносити на наступний */
  justify-content: center; /* Центрувати вміст контейнеру */
  align-items: flex-start; /* Не розтягувати менші по висоті зображення до висоти вищих в рядку */
  gap: 10px; /* Пробіли між прев'ю */
  margin: 10px 0px 10px 0px; /* Відступи верх низ */
}

article a { text-decoration: none; } /* Прибрати підкреслення з стилю посилання */

/* Відображення зображення */
article img {
  margin: 10px 0px 10px 0px; /* Відступи верх низ */
  display: block; /* Займати весь рядок */
  margin-inline: auto; /* Центрувати */
  max-width: 100%; /* Задати максимальну довжину зображення — 100% довжини контейнеру */
}

/* Відображення зображення */
section img {
  margin: 0;
  display: flex;
  margin-inline: 0;
  max-width: 100%; /* Задати максимальну довжину зображення — 100% довжини контейнеру */
}

/* Прибрати стандартну стрілку спойлера */
details summary { list-style: none; }
details summary::-webkit-details-marker { display: none; }

/* Стиль кастомної стрілки спойлера */
details summary .custom-arrow {
  pointer-events: auto; /* Дати можливість розгортати спойлер */
  user-select: none; /* Прибрати можливість виділення */
  font-size: 11px; /* Маленький розмір */
  display: inline-block; /* Це треба щоб кастомна стрілка могла перевертатися при розгортанні спойлера, сам не знаю чому */
  cursor: pointer; /* Використовувати руку як курсор, щоб було зрозуміло що наведено на клікабельний елемент */
}

/* Перевертати кастномну стрілку коли спойлер розгорнуто */
details[open] > summary .custom-arrow { transform: rotate(90deg); }

/* Прибрати можливість розгортати спойлери кліком по тексту спойлера на комп'ютері */
@media (min-width: 600px) {
  details summary { pointer-events: none; }
  details summary a { pointer-events: auto; }
}
