* { margin: 0; /* Поставити всі границі на 0 */ color: white; font-family: sans-serif; /* Стандартний системний шрифт без засічок */ }

b { cursor: default; } /* Використовувати стандартний курсор для жирного тексту (оскільки він частина інтерфейсу) */

a { all: unset; cursor: pointer; } /* Прибрати стиль посилання (використовувати стандартний стиль тексту) і використовувати курсор руку */

/* Фон мозаїка сланцю (з майнкрафту) */
body { background-image: url('menu_background.png'); background-repeat: repeat; }

/* Стиль контейнеру посилань */
nav {
  display: flex; flex-wrap: wrap; /* Відображати все в 1-у рядку, якщо не влазить — переносити на наступний */
  justify-content: center; /* Центрувати вміст контейнеру */
  font-size: 14px; /* Оптимальний розмір шрифту для інтерфейсів на 15.6" 1920x1080 екрані з дистанції перегляду 50 см при 100%-у масштабу */
  margin: 5px 10px 5px 10px; /* Відступи */
  gap: 10px; /* Пробіли між посиланнями */
}

h1 {
  font-size: 16px; /* Чуть-чуть збільшений розмір (щоб виділити) від стандартного 14px для назви категорії */
  text-align: center; /* Центрувати */
  margin: 5px 5px; /* Відступи верх низ */
}

section {
  font-size: 14px; /* Оптимальний розмір шрифту для інтерфейсів на 15.6" 1920x1080 екрані з дистанції перегляду 50 см при 100%-у масштабу */
  display: flex; flex-wrap: wrap; /* Відображати все в 1-у рядку, якщо не влазить — переносити на наступний */
  justify-content: center; /* Центрувати вміст контейнеру */
  gap: 10px; /* Пробіли між прев'ю */
}
